Package: anguix-installer
Version: 0.1
Architecture: all
Maintainer: xela92 'xela92@linuxzogno.org'
Section: utility
Priority: optional
Homepage: http://github.com/xela92/Anguix
Description: Questo pacchetto renderà la vosta Ubuntu una Anguix.
